/* ================================= 
  Base Element Styles
==================================== */
/* #52bab3 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

h2 {
  font-size: 1.3em;
  text-align: center;
}

form {
  max-width: 350px;
  margin: 10px auto;
  padding: 10px 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select[name^="user_state"],
textarea {
  background: rgb(216, 210, 210);
  border: none;
  padding: 15px;
  width: 100%;
  color: slategray;
  outline: none;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}


.intro {
  font-size: 0.85em;
  color: rgb(193, 188, 188);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.line {
  background-color: #000;
}

.thick-line {
  height: 3px;
  width: 90%;
  margin: 1px 10px;
}

.thin-line {
  height: 2px;
  width: 90%;
  margin: 4px 10px;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/* ---- Layout Containers ---- */

.main-header {
    background: #232237;
    padding-top: .5em;
    padding-bottom: .5em;
}

.name {
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(223, 218, 218, 0.8);

}


/* ---- Page Elements ---- */

/* ================================= 
  Pseudo-classes and Pseudo-elements
==================================== */
::placeholder {
  font-size: 0.75em;
  font-style: italic;
  text-align: right;
  padding-right: 2px;
}

input:required {
  border: 1px solid red;
}

input[name^="user_name"]:not(:focus):valid,
input[name^="user_email"]:not(:focus):valid {
  border: 1px solid red;
}

input[name^="user_name"]:not(:focus):invalid,
input[name^="user_email"]:not(:focus):invalid
 {
  border: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

}